// Variables
@import "variables";

.navbar{
  margin-bottom:0px;
}

.no-margin{
  margin:0px;
}

.no-padding{
  padding:0px;
}

.big-padding{
  padding:30px;
}

.no-transform{
  text-transform: none;
}

.blue-grey{
  background-color:#37474f;
}

.white{
  background-color:white;
}

.white-text{
  color:white;
}

.red-text{
  color:rgb(200,50,50);
}

.inline-block{
  display:inline-block;
}

.table{
  background-color:white;
}

.absolute{
  position:absolute;
}

.floating{
  position:fixed;
  bottom:2em;
  right:2em;
  z-index:100;
}

.product{
  width:600px;
  max-width:100%;
  padding:1em;
  position:relative;

  h1{
    padding-bottom:10px;
    border-bottom:solid 1px;
  }

  .actions{
    right: 1em;
    top:10px;
  }
}









